.masthead {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.masthead__inner-wrap {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.site-title {
  font-size: 1.2rem;
  font-weight: 700;
}
